@charset "utf-8";
body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
}

header img {
    margin: 20px;  /*ヘッダー画像、外側の余白*/
}
header .innerWrap { 
    width:100%;
    padding: 0.2%;
    display:flex;  /*ロゴとulを横に並べる*/
    align-items: center;  /*ロゴ、メニューの文字を垂直中央に並べる*/
    justify-content:space-between;  /*両端と均等揃えの並べ方をすると、両端に配置される*/
}
header nav ul {
    font-family: "Noto Serif JP", serif;  /*ナビ項目横並び*/
    display: flex;
}
header nav ul li {
    margin: 0 20px;  /*ナビの項目の余白*/
}
header nav ul li a:hover {
    text-decoration: underline solid #B71B26 2px;  /*マウスオーバー赤色と線の太さ*/
}
.gMenu .menu-btn {
    display: none;  /*ハンバーガーメニューのcheckbox非表示設定*/
}

main h1 {
    font-family: "Noto Serif JP", serif;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin: 160px 0 0 0;
}
main h3 {
    font-family: "Noto Serif JP", serif;
    font-size: 16px;
    text-align: center;
    margin-bottom: 48px;
}
.subtitle {
    position: relative;  /*ボーダーを擬似要素で作るため、位置の起点にする。*/
    display: inline-block;  /*インラインブロックにしてボーダーの位置を調整。*/
    padding: 0 55px; /*横を0pxにしてしまうとボーダーが文字に被ってしまう。*/
}
.subtitle:before,
.subtitle:after {
    content: '';
    position: absolute;  /*親要素(relative)を起点にする。*/
    top: 50%;  /*ボーダーを垂直方向真ん中に指定。*/
    display: inline-block;
    width: 50px;  /*ボーダーの横幅。*/
    height: 1px;  /*ボーダーの高さ。厚み。*/
    background-color: #333;
}
.subtitle:before {
    left: 0;  /*親要素のpaddingで横幅を調整しているので、位置を0に指定。*/
}
.subtitle:after {
    right: 0;  /*親要素のpaddingで横幅を調整しているので、位置を0に指定。*/
}

.cncptArea h2 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}
.cncptArea p {
    text-align: center;
}

.srvcArea ul {
    display: flex;
    justify-content: space-evenly;
}
.srvcArea ul li a:hover {
    text-decoration: underline dotted #B71B26 2px;
}
.srvcArea h2 {
    font-family: "Noto Serif JP", serif;
    font-size: 24px;
    text-align: center;
    margin: 16px 0;
}
.srvcArea p {
    width: 300px;
}
.srvcArea h4 {
    text-align: right;
    margin: 16px 0 0 0;
}

.flowArea {
    background-color: rgb(212, 223, 245);
    padding-bottom: 60px;
}
.flowArea ul {
    display: flex;
    justify-content: space-evenly;
}
.flowArea li {
    writing-mode: vertical-rl; /*文字を縦書き表示する*/
    text-align: center;
    font-size: 28px;
    color: #fff;
    border: 3px solid #333;
    background-color: #333;
    border-radius: 30px;
    padding: 80px 5px;
}
.flowArea img {
    align-self: center;
}

.qaArea {
    width: 50%;  /*親要素の幅50%に設定してautoで中央寄せ*/
    margin-right: auto;
    margin-left: auto;
}
.qaArea dt {
    margin-top: 15px;  /*上に隙間*/
    font-weight: bold;  /*太文字*/
}
.qaArea dd {
    margin: 0;  /*字下げ解除*/
}
.qaArea dt {
    margin: 25px 0 0 0;
    font-weight: bold;
}
.qaArea dd {
    margin: 10px 0 0;
}
.qaArea dt:before,
.qaArea dd:before  {  /* ←疑似要素でQとAを表示 */
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #FFF;
    border-radius: 50%;
    font-family: "Noto Serif JP", serif;
    font-size: 15px;
}
.qaArea dt:before {
    content: 'Q.';
    background-color: #333;
}
.qaArea dd:before {
    content: 'A.';
    background-color: #B71B26;
}
  
.cntctArea {
    margin-bottom: 200px;
    padding-bottom: 60px;
    background-color: rgb(212, 223, 245);
}
.cntctArea form {
    width: 600px;
    margin: 0 auto;
}
input[type="text"],
input[type="email"],
textarea {
    border: 1px solid #fff;
    background-color: #fff;
    width: 100%;
    margin-top: 5px;
    padding:  4px 8px;
}
input[type="radio"],
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    vertical-align: baseline;
    margin-right: 4px;
}
textarea {
    height: 148px;
    margin-bottom: 30px;
}
form > p {
    line-height: 1.4;
    margin-bottom: 20px;
}
.submitBtn {
    text-align: center;
}
input[type="submit"] {
    font-family: "Noto Serif JP", serif;
    background-color: #333;
    color: #fff;
    padding: 15px 55px;
}
input[type="submit"]:hover {
    background-color: #223E69;
    margin-left: 20px;
    transition-property: background-color,margin-left;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    transition-delay: 0ms;
}
.required {
    margin-left: .3em;
    color: #fff;
    font-size: .7em;
    padding: 3px;
    background-color: #B71B26;
    font-weight: bold;
    border-radius: 10px;
}

.pageTop {
    text-align: right;
}
footer {
    text-align: center;  /*中央寄せのフッター*/
    font-family: "Noto Serif JP", serif;
    color: #ffffff;
    background-color: #333333;  /*背景色は黒*/
    padding: 14px 10px 20px;
}

@media screen and (max-width:768px) {
    header .innerWrap,
    header nav ul,
    .srvcArea ul,
    .flowArea ul {
        display: block;
}
    .maskGroup img,
    .cntctArea form {
        width: 100%;
}
    .srvcArea img {
    width:100%;
    max-width: 100%;
    height: auto;
}
    .gMenu {  /* メニューを画面上部に固定表示しています */
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}
  /* メニューアイコンを画面右上に固定しています */
    .gMenu .menu-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
    padding-top: 5px;
    height: 12px;
}
  /* メニューアイコン（三本線）の真ん中の線です */
  .gMenu .menu-icon .navicon {
    background: #ffc107; /* 色は自由に変更可能です */
    display: block;
    height: 2px; /* 太さ */
    width: 31px; /* 長さ */
    position: relative;
    transition: background .4s ease-out; /* 形が変わる時のアニメーション */
}
  /* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
  .gMenu .menu-icon .navicon::before,
  .gMenu .menu-icon .navicon::after {
    background: #ffc107; /* 色は自由に変更可能です */
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .4s ease-out; /* 形が変わる時のアニメーション */
    width: 100%;
}
  .gMenu .menu-icon .navicon::before {top: 10px;} /* 位置を上にずらしています */
  .gMenu .menu-icon .navicon::after {top: -10px;} /* 位置を下にずらしています */
  /* 表示されるメニューです */
  .gMenu .menu {
    background-color: rgba(255,255,255,0.9);
    overflow: hidden;
    max-height: 0; /* ★最初は高さを0にして非表示状態に */
    transition: max-height .6s; /* 表示されるときのアニメーション */
    text-align: center;
}
  /* メニュー部分のデザインです */
  .gMenu .menu li:first-of-type {
    padding-top: 50px;
}
  .gMenu .menu li a {
    display: block;
    padding: 24px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
  .gMenu .menu li a:hover {
    background-color: #fff;
}
  /* チェックボックスは常に非表示です */
  .gMenu .menu-btn {
    display: none;
}
  /* ▼▼▼以下はチェックボックスがONの時の状態です▼▼▼ */
  .gMenu .menu-btn:checked ~ .menu {
    max-height: 400px; /* ★チェックボックスがオンの時高さを338pxにして表示させますが、ここではCONTACTが入りきらないので400pxに設定してます。 */
    transition: max-height .6s;
}
  /* メニューボタンの中央の線を非表示に */
  .gMenu .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}
  
  /* メニューボタンの上下の線を45度傾けて✕印を作ります */
  .gMenu .menu-btn:checked ~ .menu-icon .navicon::before {transform: rotate(-45deg);top: 0;}
  .gMenu .menu-btn:checked ~ .menu-icon .navicon::after {transform: rotate(45deg);top: 0;}
  .gMenu .menu-icon {
    top: 26px;
}
  .gMenu .menu-icon .navicon,
  .gMenu .menu-icon .navicon::before,
  .gMenu .menu-icon .navicon::after {
    background-color: #B71B26;
}
}